.filter-search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  flex-wrap: wrap;
  gap: 15px;
}
.customer-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.customer-table th, .customer-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.customer-table th {
  background-color: #27ae60;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.customer-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.customer-table tr:hover {
  background-color: #d5f5e3;
  cursor: pointer;
  transition: 0.3s;
}
.filter select,
.search input {
  padding: 8px 8px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.search button {
  padding: 8px 10px;
  margin-left: 5px;
  border: none;
  background-color: #27ae60;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search button:hover {
  background-color: #1e8449;
}
.container-sf{
  display: flex;
  justify-content: space-between;
}
